<ng-container *ngIf="quizz">
  <div><mat-icon>av_timer</mat-icon>{{ getTimer }}</div>
  <ng-container *ngIf="!isCompleted; else endedQuizz">
    <div>
      <button
        [disabled]="!quizz.canUseFiftyFiftyJoker"
        (click)="useJoker('fifty-fifty')"
      >
        50 / 50
      </button>

      <button
        [disabled]="!quizz.canUsePublicVote"
        (click)="useJoker('public-vote')"
      >
        public vote
      </button>
    </div>
    <p>{{ currentQuestionIndex + 1 }}</p>
    <p>{{ quizz.categories[currentQuestionIndex].question.text }}</p>
    <div *ngFor="let answer of displayedAnswers">
      <p (click)="provideAnswer(answer)">{{ answer.label }}</p>
    </div>

    <button [disabled]="missingAnswer" (click)="goToNextQuestion()">
      question suivante
    </button>
  </ng-container>

  <ng-template #endedQuizz>
    <p>Tu as terminé le quizz en {{ timer }} sec</p>
    <p>{{ quizz.score }}</p>

    <button routerLink="['/']">Voir le ranking</button>
  </ng-template>
</ng-container>
