<div>
  <h3>Choisis un quizz pour commencer à jouer</h3>
  <button
    mat-flat-button
    color="primary"
    (click)="startQuizz(quizzNames.HEADS)"
  >
    Quizz All Stars
  </button>

  <button
    mat-flat-button
    color="primary"
    (click)="startQuizz(quizzNames.TAILS)"
  >
    Quizz Challengers
  </button>
  <h3>Ranking</h3>
  <app-quizz-list
    *ngIf="quizzes.length; else noQuizzes"
    [quizzes]="quizzes"
    (deleteQuizzEvent)="onDeleteQuizz($event)"
  ></app-quizz-list>
  <ng-template #noQuizzes
    >Aucun score à afficher. Tu n'as pas encore joué à un quizz.</ng-template
  >
</div>
