<div class="flex flex-col p-10">
  <section class="flex flex-col">
    <h2 class="self-center p-3 text-xl">
      Choisis un quizz pour commencer à jouer
    </h2>
    <div class="flex justify-center gap-10 m-2">
      <button
        mat-flat-button
        color="primary"
        (click)="startQuizz(quizzNames.HEADS)"
      >
        Quizz All Stars
      </button>

      <button
        mat-flat-button
        color="primary"
        (click)="startQuizz(quizzNames.TAILS)"
      >
        Quizz Challengers
      </button>
    </div>
  </section>

  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />

  <section class="flex flex-col">
    <h2 class="self-center p-3 text-xl">Ranking</h2>
    @if (quizzes?.length) {
    <app-quizz-list
      class="m-2"
      [quizzes]="quizzes"
      (deleteQuizzEvent)="onDeleteQuizz($event)"
    ></app-quizz-list>
    } @else {
    <p class="self-center p-2 text-lightGray text-l">
      Aucun score à afficher. Tu n'as pas encore joué à un quizz.
    </p>
    }
  </section>
</div>
